<h1>Register as new Guest</h1>

<%= form_for @guest do |f| %>

    <%= f.label :nickname, "Nickname" %>
    <%= f.text_field :nickname %></br>

    <%= f.label :full_name, "Full Name" %>
    <%= f.text_field :full_name %></br>

    <%= f.label :age, "Age" %>
    <%= f.text_field :age %></br>

    <%= f.label :password, "Password (at least 8 characters long)" %>
    <%= f.password_field :password %></br>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation %></br>

    <%= f.label :gender, "Gender" %></br>
    <%= f.radio_button :gender, "Male" %> Male <br />
    <%= f.radio_button :gender, "Female" %> Female <br />
    <%= f.radio_button :gender, "Non-binary" %> Non-binary <br />
    <%= f.radio_button :gender, "Other" %> Other <br />

    <%= f.label :investigator, "Investigator Skill Level (1-5)" %></br>
    <%= f.radio_button :investigator, 1 , checked: true %> 1 <br />
    <%= f.radio_button :investigator, 2 %> 2 <br />
    <%= f.radio_button :investigator, 3 %> 3 <br />
    <%= f.radio_button :investigator, 4 %> 4 <br />
    <%= f.radio_button :investigator, 5 %> 5 <br />

    <%= f.label :believer, "Are you a Believer? (1-5)" %></br>
    <%= f.radio_button :believer, 1 , checked: true%> 1 <br />
    <%= f.radio_button :believer, 2 %> 2 <br />
    <%= f.radio_button :believer, 3 %> 3 <br />
    <%= f.radio_button :believer, 4 %> 4 <br />
    <%= f.radio_button :believer, 5 %> 5 <br />

    <%= f.label :tech, "Are you tech savvy? (1-5)" %></br>
    <%= f.radio_button :tech, 1 , checked: true%> 1 <br />
    <%= f.radio_button :tech, 2 %> 2 <br />
    <%= f.radio_button :tech, 3 %> 3 <br />
    <%= f.radio_button :tech, 4 %> 4 <br />
    <%= f.radio_button :tech, 5 %> 5 <br />

    <%= f.label :psychic, "Do you have any extra-sensory, psychic abilities? (1-5)" %></br>
    <%= f.radio_button :psychic, 1 , checked: true%> 1 <br />
    <%= f.radio_button :psychic, 2 %> 2 <br />
    <%= f.radio_button :psychic, 3 %> 3 <br />
    <%= f.radio_button :psychic, 4 %> 4 <br />
    <%= f.radio_button :psychic, 5 %> 5 <br />

    <%= f.label :bio, "Say something about yourself" %></br>
    <%= f.text_field :bio %></br></br>

    <%= f.submit "Create Account" %>

<% end %>