<h1> <%= @haunting.name %> </h1>

<p>Classification: <%= @haunting.classification %></p></br>
<p>Description: <%= @haunting.description %></p></br>
<p>Location: <%= @haunting.location %></p></br></br>

<p>Added by: <%= @haunting.guest.nickname %></p></br>



