<h1> <%= @haunting.name %> </h1>

<h1>Classification: <%= @haunting.classification %></h1></br>
<h1>Description: <%= @haunting.description %></h1></br>
<h1>Location: <%= @haunting.Location %></h1></br></br>

<h1>Added by: <%= @haunting.guest.nickname %></h1></br>



